In [3]:
import re
import string
from collections import Counter

import pandas as pd
import numpy as np
from gensim.summarization import keywords
import matplotlib.pyplot as plt
import pickle
import json

In [99]:
#load df of job descriptions
df = pd.read_csv('https://raw.githubusercontent.com/AVJdataminer/HireOne/master/data/job_descriptions.csv', encoding = 'unicode_escape')
df

                                jobOrResumeDescription            role
0    : Artificial Intelligence / Machine Learning D...       Developer
1     : Data Scientist/Architect\n: 6+ months + Hig...  Data Scientist
2     : Data Analyst\n: Davidson, NC\n: 04+ Months\...    Data Analyst
3     : Big Data Architect or Data Scientist\n: New...  Data Scientist
4    : Data Engineer\n: Woonsocket, RI\n: 6+ Months...   Data Engineer
..                                                 ...             ...
96   Manager, Data Scientist, Natural Language Proc...  Data Scientist
97   Sr. Data Scientist\nTrace312 re - Irvine, CA\n...  Data Scientist
98   Applied Computational Mathematician / Engineer...   Data Engineer
99   Senior Data Scientist\nKareo Inc2 re - Irvine,...  Data Scientist
100  \nSenior Associate, Data &amp; Analytics Modeler, ...  Data Scientist

[101 rows x 2 columns]

In [100]:
#load df of job descriptions
df = pd.read_csv('https://raw.githubusercontent.com/AVJdataminer/HireOne/master/data/job_descriptions.csv', encoding = 'unicode_escape')

#clean text
def clean_text(text):
    text = text.replace('\n', ' ')                # remove newline
    text = text.replace(':', ' ')
    return text
df['description'] = df.apply(lambda x: clean_text(x['jobOrResumeDescription']), axis=1)
df.to_csv('updated_job_description.csv',index=False)

In [101]:
df = pd.read_csv('https://raw.githubusercontent.com/AVJdataminer/HireOne/master/data/updated_job_description.csv', encoding = 'unicode_escape')
df

,jobOrResumeDescription,role,description
0,: Artificial Intelligence / Machine Learning D...,Developer,Artificial Intelligence / Machine Learning D...
1,: Data Scientist/Architect\n: 6+ months + Hig...,Data Scientist,Data Scientist/Architect 6+ months + High...
2,": Data Analyst\n: Davidson, NC\n: 04+ Months\...",Data Analyst,"Data Analyst Davidson, NC 04+ Months ..."
3,: Big Data Architect or Data Scientist\n: New...,Data Scientist,Big Data Architect or Data Scientist New ...
4,": Data Engineer\n: Woonsocket, RI\n: 6+ Months...",Data Engineer,"Data Engineer Woonsocket, RI 6+ Months ..."
...,...,...,...
96,"Manager, Data Scientist, Natural Language Proc...",Data Scientist,"Manager, Data Scientist, Natural Language Proc..."
97,"Sr. Data Scientist\nTrace312 re - Irvine, CA\n...",Data Scientist,"Sr. Data Scientist Trace312 re - Irvine, CA N..."
98,Applied Computational Mathematician / Engineer...,Data Engineer,Applied Computational Mathematician / Engineer...
99,"Senior Data Scientist\nKareo Inc2 re - Irvine,...",Data Scientist,"Senior Data Scientist Kareo Inc2 re - Irvine, ..."
100,"\nSenior Associate, Data & Analytics Modeler, ...",Data Scientist,"Senior Associate, Data & Analytics Modeler, N..."

In [ ]:
#load the pickled model
model = pickle.load(open('flask-gensim-master/model.pkl', 'rb'))
#apply model to job descriptions
data = []
for i in range(len(jd)):
    data.append(model.docvecs[i])

In [79]:
type(data)

list

In [84]:
test = pd.DataFrame(data)
test

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.716564,-1.065165,-0.428405,0.248561,0.336572,1.065735,0.432269,0.146391,-0.089497,1.446806,...,-0.366455,0.516402,-0.179295,-0.614482,1.084064,-0.220068,-0.932965,-0.212290,-0.230840,0.035123
1,0.457946,-0.433382,-0.045955,-0.342565,0.396924,-0.201396,0.732105,0.320551,-0.606481,0.360721,...,-0.109131,-0.311959,-0.620210,-0.846204,0.180210,0.176914,-0.585403,-0.444073,0.623427,0.422027
2,-0.722351,-0.003821,-0.115539,1.005745,1.522638,0.269075,0.678246,0.511006,-1.521929,0.125855,...,0.824674,-0.894697,-0.802536,-1.619667,-0.743317,0.414946,-0.051693,-1.045633,0.005816,-0.164042
3,0.382933,-1.435146,0.094152,-1.024086,0.318578,-0.311488,0.319861,0.738991,0.763444,0.785537,...,-0.023977,-0.393346,-0.318398,0.321846,0.052125,0.514942,0.395629,-1.454744,0.614528,0.346055
4,-0.479786,-1.298678,-1.025030,0.738503,0.603982,-0.206812,0.146893,-0.593513,-0.348453,0.032791,...,0.301121,-0.821079,-0.195011,-0.249775,0.612524,0.775250,0.450204,-0.599325,0.570739,0.125867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,2.077199,-0.014712,-0.607361,-0.490806,0.754146,-0.239011,0.839618,0.591885,-0.144778,0.536262,...,0.332972,-2.503145,-0.068190,-2.057077,2.525333,-0.859906,-1.006752,0.308322,0.145037,-0.365624
97,0.369127,-0.059066,0.216099,0.554112,0.122237,-0.680145,1.177189,-0.004821,-1.442633,0.869071,...,1.078838,-0.398888,0.396601,1.468867,-0.193589,0.777125,-0.618219,-0.822574,2.220715,0.134016
98,0.647297,0.142452,1.162984,2.070364,-0.082470,-0.557821,-0.389664,-0.066190,-0.424721,-0.359158,...,-0.187232,-0.506345,-0.265118,1.626017,-0.991126,0.244445,0.022320,-0.272566,1.197520,-0.234264
99,-0.586613,0.452409,-0.289392,0.216338,0.436588,-0.559984,1.026871,-0.719975,-0.789901,-0.873045,...,-0.022961,-0.565891,0.215431,-0.697284,-1.545561,0.360037,0.017805,-1.192828,-0.064704,-0.464967
100,0.741733,0.103755,-1.021751,-0.692825,1.058292,-0.602417,1.368869,0.254927,-0.247948,0.504281,...,0.799392,-2.697768,-0.059899,-2.623017,2.156730,-0.487564,-1.340093,0.685116,0.270963,0.308149

In [89]:
test.to_csv('vectors_data.csv',index=False)

In [90]:

#load new jb df
jd = pd.read_csv('vectors_data.csv')
jd

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.716564,-1.065165,-0.428405,0.248561,0.336572,1.065735,0.432269,0.146391,-0.089497,1.446806,...,-0.366455,0.516402,-0.179295,-0.614482,1.084064,-0.220068,-0.932965,-0.212290,-0.230840,0.035123
1,0.457946,-0.433382,-0.045955,-0.342565,0.396924,-0.201396,0.732105,0.320551,-0.606481,0.360721,...,-0.109131,-0.311959,-0.620210,-0.846204,0.180210,0.176914,-0.585403,-0.444073,0.623427,0.422027
2,-0.722351,-0.003821,-0.115539,1.005745,1.522638,0.269075,0.678246,0.511006,-1.521929,0.125855,...,0.824674,-0.894697,-0.802536,-1.619667,-0.743317,0.414946,-0.051693,-1.045633,0.005816,-0.164042
3,0.382933,-1.435146,0.094152,-1.024086,0.318578,-0.311488,0.319861,0.738991,0.763444,0.785537,...,-0.023977,-0.393346,-0.318398,0.321846,0.052125,0.514942,0.395629,-1.454744,0.614528,0.346055
4,-0.479786,-1.298678,-1.025030,0.738503,0.603982,-0.206812,0.146893,-0.593513,-0.348453,0.032791,...,0.301121,-0.821079,-0.195011,-0.249775,0.612524,0.775250,0.450204,-0.599325,0.570739,0.125867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,2.077199,-0.014712,-0.607361,-0.490806,0.754146,-0.239011,0.839618,0.591885,-0.144778,0.536262,...,0.332972,-2.503145,-0.068190,-2.057077,2.525333,-0.859906,-1.006752,0.308322,0.145037,-0.365624
97,0.369127,-0.059066,0.216099,0.554112,0.122237,-0.680145,1.177189,-0.004821,-1.442633,0.869071,...,1.078838,-0.398888,0.396601,1.468867,-0.193589,0.777125,-0.618219,-0.822574,2.220715,0.134016
98,0.647297,0.142452,1.162984,2.070364,-0.082470,-0.557821,-0.389664,-0.066190,-0.424721,-0.359158,...,-0.187232,-0.506345,-0.265118,1.626017,-0.991126,0.244445,0.022320,-0.272566,1.197520,-0.234264
99,-0.586613,0.452409,-0.289392,0.216338,0.436588,-0.559984,1.026871,-0.719975,-0.789901,-0.873045,...,-0.022961,-0.565891,0.215431,-0.697284,-1.545561,0.360037,0.017805,-1.192828,-0.064704,-0.464967
100,0.741733,0.103755,-1.021751,-0.692825,1.058292,-0.602417,1.368869,0.254927,-0.247948,0.504281,...,0.799392,-2.697768,-0.059899,-2.623017,2.156730,-0.487564,-1.340093,0.685116,0.270963,0.308149

In [96]:
jn = jd.to_numpy()
jn

array([[ 0.71656388, -1.0651648 , -0.42840531, ..., -0.21228984,
        -0.23084009,  0.03512256],
       [ 0.45794606, -0.43338215, -0.04595498, ..., -0.44407263,
         0.62342697,  0.42202672],
       [-0.72235107, -0.00382064, -0.1155393 , ..., -1.04563332,
         0.00581568, -0.1640418 ],
       ...,
       [ 0.64729673,  0.14245185,  1.16298449, ..., -0.27256632,
         1.19751978, -0.23426376],
       [-0.58661306,  0.45240909, -0.28939193, ..., -1.19282794,
        -0.06470406, -0.46496689],
       [ 0.74173272,  0.10375462, -1.02175069, ...,  0.68511599,
         0.27096272,  0.30814925]])

In [58]:

#calc vector for resume input
resume = open("flask-gensim-master/test_file.txt", "r").read()
resume_vect = model.infer_vector(resume.split())

       Role Title                                            jd_vecs  \
0       Developer  [ 0.7165639  -1.0651648  -0.4284053   0.248561...
1  Data Scientist  [ 0.45794606 -0.43338215 -0.04595498 -0.342564...
2    Data Analyst  [-0.7223511  -0.00382064 -0.1155393   1.005744...
3  Data Scientist  [ 0.38293263 -1.4351465   0.09415209 -1.024086...
4   Data Engineer  [-0.47978604 -1.2986784  -1.0250297   0.738503...

                                     Job Description
0    Artificial Intelligence / Machine Learning D...
1     Data Scientist/Architect   6+ months + High...
2     Data Analyst   Davidson, NC   04+ Months   ...
3     Big Data Architect or Data Scientist   New ...
4    Data Engineer   Woonsocket, RI   6+ Months  ...

In [26]:
resume_vect

array([ 0.11723824, -0.20937707,  0.0970483 ,  0.15921697,  0.10469028,
       -0.16650406,  0.12168825,  0.0915208 , -0.04916159, -0.07745463,
        0.10542317, -0.05189062,  0.16678013,  0.22620443,  0.08199309,
        0.07833255,  0.08720113, -0.01730636, -0.16371503, -0.20996279,
        0.41546562, -0.15348516, -0.12013239, -0.30201453,  0.10556756,
       -0.16804965, -0.21331266, -0.29139516, -0.09228415, -0.02417945,
        0.22985432,  0.40949965, -0.1846519 , -0.04860288, -0.17935646,
       -0.02940033,  0.17855561,  0.15101321,  0.03192548,  0.04512107,
        0.15871271,  0.07160146, -0.0082694 ,  0.07223529,  0.1291219 ,
        0.02648458, -0.15808482, -0.35294232, -0.02254341, -0.10713521],
      dtype=float32)

In [98]:
type(jn)

numpy.ndarray

In [97]:
#calculate cosine distances
from sklearn.metrics.pairwise import cosine_distances
cos_dist =[]
for i in range(jd.shape[0]):
    cos_dist.append(float(cosine_distances(resume_vect[0:].reshape(1,-1),jn[i].reshape(1,-1))))
#rank to get top 5 jobs

In [95]:
role = df['role'].tolist()
desc = df['description'].tolist()
summary = pd.DataFrame({
        'Role Title': role,
        'Cosine Distances': cos_dist,
        'Job Description': desc
    })
z = summary.sort_values(by ='Cosine Distances', ascending=True)
z.head()

,Role Title,Cosine Distances,Job Description
35,Data Scientist,0.433133,"Data Scientist Chicago, IL Contract &..."
34,Data Scientist,0.498284,- Data Scientist / Data Engineer - Chica...
20,Data Scientist,0.589134,Big Data Lead Raritan- NJ -12 months ...
15,Data Analyst,0.649652,"Data Analytics Consultant Basking Ridge, N..."
85,Data Scientist,0.679102,Data Scientist- Re to Saudi Arabia Saudi Aramc...

In [94]:
df.head()

,jobOrResumeDescription,role,description
0,: Artificial Intelligence / Machine Learning D...,Developer,Artificial Intelligence / Machine Learning D...
1,: Data Scientist/Architect\n: 6+ months + Hig...,Data Scientist,Data Scientist/Architect 6+ months + High...
2,": Data Analyst\n: Davidson, NC\n: 04+ Months\...",Data Analyst,"Data Analyst Davidson, NC 04+ Months ..."
3,: Big Data Architect or Data Scientist\n: New...,Data Scientist,Big Data Architect or Data Scientist New ...
4,": Data Engineer\n: Woonsocket, RI\n: 6+ Months...",Data Engineer,"Data Engineer Woonsocket, RI 6+ Months ..."